body {
    background-image: url(123.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:100% 100% ;


  }

  #picture{
      width: 250px;
      border-radius: 40%;
  
  }
  h1{
    font-size: 45px; text-align:center; color: #4bd613;border: 2px solid greenyellow; margin: 5px; padding: 5px;
  }

   h2{
    color: greenyellow;
   }

   pre{
    font-size: 15px;
    color:greenyellow;
    margin: 0px 0px;
    
   }
 button{
  margin: 10px 55px;
  background-color :rgb(22, 10, 68);
  color:rgb(116, 42, 7);
  padding: 40px 35px;
  font-size: 30px;
  text-align: center;
  text-decoration:slateblue;
  display:inline-table;
 }